/* ====================
   1. CSS Reset
==================== */

/* Intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* Enable keyboard animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;   /* Add accessible line height */
    -webkit-font-smoothing: antialiased;    /* Improve text rendering */
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overlays */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Create root stacking context */
#root, #__next {
    isolation: isolate;
}

/* ====================
   2. Variables (Custom Properties)
==================== */

:root {
    /* Colour Variables */
    --clr-bg: #000000;
    --clr-text: #ffffff;
    --clr-accent: #8890FF;
    --clr-secondary-text: #CED0CE;
    --clr-card-bg: #393D47;
    --clr-border: #2C2C2C;
    --clr-inactive: #767676;
    --clr-hover: #4B53C2;
    --clr-active: #7C83F0;
    --clr-shadow: rgba(136, 144, 255, 0.25);

    /* Typography Variables */
    --font-heading: 'Archivo', sans-serif;
    --font-body: 'Inter', sans-serif;

    /* Spacing and sizing variables */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 6rem;

    --max-width: 1200px;
    --border-radius: 0.5rem;
}